{{include '../inc/header'}}
	<div id="fh5co-about-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>关于</h2>
					<p>About Us</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="about-inner">
								<img class="img-responsive" src="/public/images/image_about.jpg" alt="About">
								<h3>Introduction</h3>
								<p>三万英尺传媒是一家高度国际化的传媒公司，着力于打造中外文化交流平台。
凭借丰富的海外资源，三万英尺携手腾讯打造《对话美国名校》、《WE TALK》、《嬉游记》等系列网络栏目。
三万英尺作为国内网络媒体，这里有中国学生与世界名校学生话题交锋的极致青春观点秀，
还原各行领军人物的真实状态，搜罗最新全球资讯，更加拥有独特的沉侵式体验和精彩互动。
</p>
								<blockquote>
									<p>三万英尺传媒的宗旨是服务全球华人青少年、打造中外青少年分享兴趣、交流爱好、探讨话题、增进了解、建立友谊的网上社区。</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<aside class="sidebar">
						<div class="row">
							<div class="col-md-12 side">
								<h3>类别</h3>
								<ul>
									<li><i class="icon-check"></i><a href="#">对话世界名校</a></li>
									<li><i class="icon-check"></i><a href="#">旅行</a></li>
									<li><i class="icon-check"></i><a href="#">任务</a></li>
									<li><i class="icon-check"></i><a href="#">留学</a></li>
									<li><i class="icon-check"></i><a href="#">校园</a></li>
									<li><i class="icon-check"></i><a href="#">我型我秀</a></li>
								</ul>
							</div>
							<div class="col-md-12 side">
								<h3>摘要</h3>
								<p>深圳三万英尺传媒有限公司（简称三万英尺传媒）成立与2015年10月，是一家聚焦海内外华人青少年、立足中国、放眼世界、以网络新媒体为主要传播手段的国际化新型传媒公司。</p>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
{{include '../inc/footer'}}

