{{include '../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left fh5co-heading">
					<h2>管理后台</h2>
					<p>User Center</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3>我的信息</h3>
					<ul class="contact-info">
						<li><i class="icon-user"></i>{{session.user.account}}</li>
						<li><i class="icon-user-secret"></i>{{session.user.userType | roleFilter }}</li>
						<li><i class="sl-icon-phone"></i><a href="/admin/memberList/1">会员列表</a></li>
						<li><i class="sl-icon-envelope-open"></i><a href="/admin/adminList">管理员列表</a></li>
						<li><i class="icon-lock"></i><a href="/user/modifyPassword">修改密码</a></li>
						<li><i class="icon-lock"></i><a href="/admin">管理后台</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>管理员列表</h3>
					<div class="admin-list">
						<ul class="list-group">
						 	<li class="list-group-item">账号<span class="rm-btn">操作</span></li>
						</ul>
						<ul class="list-group">
						 	<li class="list-group-item">sam<a href="#" class="rm-btn">删除</a></li>
						 	<li class="list-group-item">dongdong<a href="#" class="rm-btn">删除</a></li>
						 	<li class="list-group-item">best<a href="#" class="rm-btn">删除</a></li>
						</ul>
					</div>
					<form action="" class="text-center">
						<h4>添加管理员</h4>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="用户帐号" name="account" type="text">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input value="添加" class="btn btn-primary" type="submit">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../inc/footer'}}