{{include '../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>联系我们</h2>
					<p>Contact Us</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3>Contact Info.</h3>
					<ul class="contact-info">
						<li><i class="sl-icon-map"></i>广东省深圳市福田区车公庙天祥大厦CD座9C1</li>
						<li><i class="sl-icon-phone"></i>400-990-2896</li>
						<li><i class="sl-icon-envelope-open"></i><a href="#">service@swyc.com</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<form class="row" id="message-form">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="姓名" name="postName" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="邮箱" name="postEmail" type="text">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea  class="form-control" id="" cols="30" rows="7" name="postContent" placeholder="信息"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input value="发送" class="btn btn-primary" id="post-btn" type="submit">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../inc/footer'}}