{{include '../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>修改密码</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12  col-xs-12 ">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="原密码" type="text" id="password">
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="新密码" type="password" id="newpassword">
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<a href="javascript:;" class=" sub-btn" id="login-btn">提交</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../inc/footer'}}