{{include '../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>修改密码</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12  col-xs-12 ">
					<form class="row" id="modify-password">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="原密码" name="opassword" type="password" id="opassword">
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="新密码" name="npassword" type="password" id="npassword">
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input class="form-control" placeholder="确认新密码" name="repassword" type="password" id="repassword">
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<a href="javascript:;" class=" sub-btn" id="login-btn">提交</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../inc/footer'}}