{{include '../inc/header'}}
	<div id="fh5co-work-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>我们的图集</h2>
					<p><span>Our Atlas</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_1.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">回忆相册</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_2.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">科技潮流</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_3.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">休闲时光</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_4.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">户外活动</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_5.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">精彩生活</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="work-inner">
						<a href="#" class="work-grid" style="background-image: url(/public/images/image_6.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">海外风景</a></h3>
							<span>Swyc Media</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{include '../inc/footer'}}