{{include '../inc/header'}}
	<div id="fh5co-main-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>我们的服务</h2>
					<p><span>Our Services</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-graph"></i></span>
							<div class="desc">
								<h3>大都会博物馆</h3>
								<p>纽约大都会中国书画展“一夜飞度”梦唐宋朝圣！纽约大都会博物馆中国艺术展</p>
							</div>
							</div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-heart"></i></span>
							<div class="desc">
								<h3>说出我们的故事</h3>
								<p>羡慕《欢乐颂》里的安迪？来看看华尔街的华人女神探秘哥伦比亚大学 对话中国男神教授陈方若</p>
							</div>
						</div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-key"></i></span>
							<div class="desc">
								<h3>对话世界名校</h3>
								<p>探秘宾夕法尼亚大学　亿万富翁的殿堂直面哈佛培养了宋美龄|希拉里的女校有多牛泰伯中学：这所海滨学校真的很美揭秘美国卡迪根山男校　走进小鲜肉的世界  波士顿大学白鸥创业挑战赛
</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<aside class="sidebar">
						<div class="row">
							<div class="col-md-12 side">
								<h3>类别</h3>
								<ul>
									<li><i class="icon-check"></i><a href="#">对话世界名校</a></li>
									<li><i class="icon-check"></i><a href="#">旅行</a></li>
									<li><i class="icon-check"></i><a href="#">任务</a></li>
									<li><i class="icon-check"></i><a href="#">留学</a></li>
									<li><i class="icon-check"></i><a href="#">校园</a></li>
									<li><i class="icon-check"></i><a href="#">我型我秀</a></li>
								</ul>
							</div>
							<div class="col-md-12 side">
								<h3>摘要</h3>
								<p>深圳三万英尺传媒有限公司（简称三万英尺传媒）成立与2015年10月，是一家聚焦海内外华人青少年、立足中国、放眼世界、以网络新媒体为主要传播手段的国际化新型传媒公司。</p>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
{{include '../inc/footer'}}