{{include '../../inc/header'}}
	<div id="mall" class="mall">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>演出列表</h2>
					<p><span>Show List</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_01.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">比利时 农场大冒险《勇敢的小黑鸡》</a>
							<span class="goods-date">时间：2016-11-11/12-04</span>
							<p class="goods-prize">价格：<span>￥180.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_02.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">崔健滚动三十2016深圳演唱会</a>
							<span class="goods-date">时间：2016-12-24 19:30</span>
							<p class="goods-prize">价格：<span>￥280.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_03.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">大型卡通人偶剧《洋葱头历险记》</a>
							<span class="goods-date">时间：2017-04-03/30</span>
							<p class="goods-prize">价格：<span>￥280.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_04.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">凤凰传奇新年交响演唱会－深圳站</a>
							<span class="goods-date">时间：2017-01-07</span>
							<p class="goods-prize">价格：<span>￥280.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_05.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">金诚之夜，品冠2016世界巡回演唱会</a>
							<span class="goods-date">时间：2016-12-10</span>
							<p class="goods-prize">价格：<span>￥280.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_06.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">凤凰传奇新年交响演唱会－深圳站</a>
							<span class="goods-date">时间：2016-12-02/04</span>
							<p class="goods-prize">价格：<span>￥80.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_07.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">浪漫经典童话剧《灰姑娘》</a>
							<span class="goods-date">时间：2017-01-01/26</span>
							<p class="goods-prize">价格：<span>￥80.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="work-inner">
						<a href="#" class="goods-img">
							<img src="/public/images/show_pic_08.jpg">
						</a>
						<div class="goods-desc">
							<a href="#" class="goods-title">凤凰传奇新年交响演唱会－深圳站</a>
							<span class="goods-date">时间：2016-11-26</span>
							<p class="goods-prize">价格：<span>￥180.00</span></p>
						</div>
						<a href="" class="buy-btn">立即购买</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{{include '../../inc/footer'}}
