<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>node</title>
    <link href="/public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only ">node</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{isLogin ? user.name : title}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{if routerName==='index'}}active{{/if}}"><a href="/">首页</a></li>
                    <li class="{{if routerName==='about'}}active{{/if}}"><a href="/about">关于</a></li>
                    <li class="{{if routerName==='contact'}}active{{/if}}"><a href="/contact">联系</a></li>
                    {{loginInfo}}
                    {{if !loginInfo.isLogin}}

                    <li class="{{if routerName==='login'}}active{{/if}}"><a href="/users/login">登录</a>
                    </li>
                    <li class="{{if routerName==='register'}}active{{/if}}"><a href="/users/register">注册</a>
                    </li>
                    {{/if}}
                    {{if !!loginInfo.isLogin}}
                    <li ><a href="javascript:;" id="logout-item">退出</a>
                    {{/if}}
                </ul>
                {{if routerName==='about'}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/team">团队</a></li>
                    <li><a href="/about/pictures">图片</a></li>
                    <li><a href="/about/products">产品</a></li>
                </ul>
                {{/if}}
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
