.flex-list{
	display: -webkit-flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
}
.flex-list .item{
	width:33%;
	height:150px;
	display: -webkit-flex;
	justify-content:center;
	align-items:center;
	color:#fff;
}
.flex-list .item:nth-of-type(1){
	background:#1FB57B
}
.flex-list .item:nth-of-type(2){
	background:#E85252
}
.flex-list .item:nth-of-type(3){
	background:#30A4D8
}
.flex-list .item:nth-of-type(4){
	background:#333
}
.admin .user-detail label{
	width:23%;
	height:54px;
	line-height: 54px;
}
.admin .user-detail .form-control{
	width:77%;
}
@media screen and (max-width:768px){
	.admin .user-detail label,.admin .user-detail .form-control{
		width:93%;
		padding:0 10px;
		margin:10px auto;
		margin-left:4%;
	}
	.btn-toolbar{
		margin-left:4%;
	}
}
/*分页组件*/
.mt-pagination{
	margin:30px 0;
	text-align: center;
	widows: 100%;
}
.mt-pagination a{
	padding:0 5px;
	min-width: 30px;
	height:30px;
	border:1px solid #e4e4e4;
	line-height: 30px;
	text-align:center;
	font-size: 12px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	color:#333;
}
.mt-pagination a:hover{
	color:#fff;
	background:#1FB57B;
	border:1px solid #1FB57B;
}
.mt-pagination a.active{
	color:#fff;
	background:#1FB57B;
	border:1px solid #1FB57B;
}
.mt-pagination a.disabled{
	color:#333;
	background:#f1f1f1;
	cursor: default;
	border:1px solid #f1f1f1;
}

.margin-right-10{
	margin-right: 10px;
}

.edui-default .edui-toolbar .edui-combox-body .edui-button-body{
	color:#333;
	
}
.edui-default .edui-toolbar .edui-combox .edui-combox-body{
	font-size: 14px;
	line-height: 20px;
}
.add-article .input-title{
	padding-left:80px;
	position: relative;
}
.add-article .input-title span{
	position: absolute;
	left:0;
	top:0;
	line-height: 40px;
	display: block;
	left:15px;
}
.add-article .input-title input{
	width:100%;
	text-indent: 10px;
	height:40px;
}
.add-article .input-title textarea{
	width:100%;
}