{{include '../../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-left fh5co-heading">
					<h2>用户中心</h2>
					<p>User Center</p>
				</div>
				<div class="col-md-4">
					<label class="avatar">
						<input type="file" id="upload-avatar" accept="image/gif,image/jpg,image/png" name="file">
						<img id="avatar-img" src="/public/avatar/{{ (session.user.avatar || 'avatar.png') }}" alt="avatar">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3>我的信息</h3>
					<ul class="contact-info">
						<li><i class="icon-user"></i>{{session.user.account}}</li>
						<li><i class="icon-list-alt"></i>{{session.user.realName ? session.user.realName :'请完善个人信息'}}</li>
						<li><i class="sl-icon-phone"></i>+86 {{session.user.mobile || '请完善个人信息'}}</li>
						<li><i class="sl-icon-envelope-open"></i>{{session.user.email || '请完善个人信息'}}</li>
						<li><i class="icon-unlock"></i><a href="/user/modifyPassword">修改密码</a></li>
						<li><i class="icon-home"></i><a href="/user">个人中心</a></li>
						{{if session.user.userType > 0}}
						<li><i class="icon-user-secret"></i><a href="/admin">管理后台</a></li>
						{{/if}}
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>完善信息</h3>
					<form class="row" id="update-form">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="姓名" name="realName" value="{{ session.user.realName }}" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="邮箱" name="email" value="{{ session.user.email }}" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="手机号码" name="mobile" value="{{ session.user.mobile }}" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div  class="gander">
									<label>
										{{if session.user.gender === 1}}
										<input class="form-control" checked name="gender" value="1" type="radio">
										{{else}}
										<input class="form-control" name="gender" value="1" type="radio">
										{{/if}}
										<span>男</span>
										
									</label>
									<label class="gander">
										{{if session.user.gender === 2}}
										<input class="form-control" checked name="gender" value="2" type="radio">
										{{else}}
										<input class="form-control" name="gender" value="2" type="radio">
										{{/if}}
										<span>女</span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input value="发送" class="btn btn-primary" type="submit" id="update-btn">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../../inc/footer'}}