{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-8 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>访问日志</h2>
					</div>
					<div class="admin-list col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>账号</th>
									<th>操作ip</th>
									<th>时间</th>
									<th>访问路径</th>
								</tr>
							</thead>
							<tbody id="accesslogs-list-vm">

							</tbody>
							<script type="text/html" id="accesslogs-list-tpl">
								<% if accesslogsList.length > 0 %>
							   	<% each accesslogsList as $value $index %>
								<tr style="<% ($index % 2 !=0) ? 'background:#f7f7f7' :''; %>">
									<td><a href="/admin/memberList/memberDetail/<% $value.member._id %>"><% $value.member.account %></a></td>
									<td><% $value.accessIp %></td>
									<td><% $value.accessTime | dateFormat :'yyyy.MM.dd hh:mm:ss' %></td>
									<td><% $value.accessUrl %></td>
								</tr>
								<% /each %>
								<% else %>
								暂无数据
								<% /if %>
							</script>
						</table>
					</div>
					<div class="mt-pagination" id="accesslogs-list-pagination">
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>

{{include '../../inc/footer'}}
