{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-9 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>添加管理员</h2>
					</div>
					<div class="admin col-md-12">
						<form class="row user-detail" id="add-admin-form">
							<div class="form-group row">
								<label class="col-md-4 col-xs-12 col-lg-4 text-left">会员账号</label>
								<input type="text"  placeholder="账号" name="account" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
							<div class="col-md-6 col-md-offset-3">
								<a href="javascript:;" class=" sub-btn" id="add-admin-btn">添加</a>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

{{include '../../inc/footer'}}
