{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container add-article">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-9 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>添加文章</h2>
					</div>
					<div class="admin-list col-md-12">
						<div class="row text-left others-settings">
							<div class="col-md-4 category">
								<span>文章类别：</span>
								<select name="category" id="category">
									<option value="1" selected>技术</option>
									<option value="2">生活</option>
									<option value="3">职场</option>
									<option value="4">人生</option>
									<option value="5">新闻</option>
								</select>
							</div>
							<div class="col-md-4 category">
								<span>是否置顶：</span>
								<select name="is-hot" id="is-hot">
									<option value="1" selected>否</option>
									<option value="2">是</option>
								</select>
							</div>
						</div>
						<div class="row text-left margin-top-10">
							<div class="col-md-12 input-title">
								<span>标题：</span>
								<input type="text"  name="title" id="title" placeholder="标题">
							</div>
						</div>
						<script id="editor" class="margin-top-10" type="text/plain" style="height:300px;"></script>
						<div class="margin-top-10">
							<a href="javascript:;" class=" sub-btn" id="add-article-btn">发布</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{include '../../inc/footer'}}