{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-8 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>管理员列表</h2>
					</div>
					<div class="admin-list col-md-12">
						<div class="btn-toolbar list-toolbar margin-bottom-10">
						    <a href="/admin/addAdmin" class="btn btn-primary"><i class="fa fa-plus margin-right-10"></i>添加管理员</a>
						    <!-- <button class="btn btn-default">导入</button>
						    <button class="btn btn-default">到出</button> -->
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>账号</th>
									<th>设置日期</th>
									<th>最后登录日期</th>
									<th style="width: 3.5em;">操作</th>
								</tr>
							</thead>
							<tbody id="admin-list-vm">

							</tbody>
							<script type="text/html" id="admin-list-tpl">
								<% if adminList.length > 0 %>
								<% each adminList as $value $index %>
								<tr>
									<td><% $value.account %></td>
									<td><% $value.setAdminTime | dateFormat:'yyyy.MM.dd hh:mm:ss' %></td>
									<td><% $value.lastLoginTime | dateFormat:'yyyy.MM.dd hh:mm:ss' %></td>
									<td>
										<% if userInfo.userType === 2 %>
										<a href="/admin/memberList/memberDetail/<% $value._id %>">
											<i class="fa fa-pencil"></i>
										</a>
										<a href="javascript:;" data-bind="<% $value._id %>">
											<i class="fa fa-trash-o"></i>
										</a>
										<% else %>
											<% if $value._id === userInfo.id %>
											<a href="/admin/memberList/memberDetail/<% $value._id %>">
												<i class="fa fa-pencil"></i>
											</a>
											<a href="javascript:;" data-bind="<% $value._id %>">
												<i class="fa fa-trash-o"></i>
											</a>
											<% /if %>
										<% /if%>
									</td>
								</tr>
								<% /each %>
								<% else %>
								暂无数据
								<% /if %>
							</script>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{include '../../inc/footer'}}
