{{include '../../inc/header'}}
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left fh5co-heading">
					<h2>管理后台</h2>
					<p>User Center</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3>我的信息</h3>
					<ul class="contact-info">
						<li><i class="icon-user"></i>{{session.user.account}}</li>
						<li><i class="icon-user-secret"></i>{{session.user.userType | roleFilter }}</li>
						<li><i class="sl-icon-phone"></i><a href="/admin/memberList">会员列表</a></li>
						<li><i class="sl-icon-envelope-open"></i><a href="/admin/adminList">管理员列表</a></li>
						<li><i class="icon-lock"></i><a href="/user/modifyPassword">修改密码</a></li>
						<li><i class="icon-lock"></i><a href="/user">用户中心</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>网站概况</h3>
					<div class="flex-list">
						<div class="item">共有<strong>124</strong>个会员</div>
						<div class="item">昨天新增<strong>124</strong>个会员</div>
						<div class="item">昨天共有<strong>124</strong>个会员登录</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="map" data-animate-effect="fadeIn"></div>
{{include '../../inc/footer'}}