{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="row">
					<div class="col-md-10 text-left fh5co-heading">
						<h2>管理后台</h2>
						<p>User Center</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<h3>我的信息</h3>
						<ul class="contact-info">
							<li> <i class="icon-user"></i>
								{{session.user.account}}
							</li>
							<li> <i class="icon-user-secret"></i>
								{{session.user.userType | roleFilter }}
							</li>
							<li>
								<i class="sl-icon-phone"></i>
								<a href="/admin/memberList">会员列表</a>
							</li>
							<li>
								<i class="sl-icon-envelope-open"></i>
								<a href="/admin/adminList">管理员列表</a>
							</li>
							<li>
								<i class="icon-lock"></i>
								<a href="/user/modifyPassword">修改密码</a>
							</li>
							<li>
								<i class="icon-lock"></i>
								<a href="/admin">管理后台</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12 text-center admin">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>会员详情</h2>
					</div>
					<div class="main-content">

						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#home" data-toggle="tab">档案</a>
							</li>
							<li class="">
								<a href="#profile" data-toggle="tab">密码</a>
							</li>
							<li class="">
								<a href="#loginLog" data-toggle="tab">登录日志</a>
							</li>
							<li class="">
								<a href="#others" data-toggle="tab">其他</a>
							</li>
						</ul>

						<div class="row">
							<div class="col-md-12">
								<br>
								<div id="myTabContent" class="tab-content user-detail">
									<div class="tab-pane active" id="home">
										<form id="tab">
											<div class="form-group row">
												<label class="col-md-4 col-xs-12 col-lg-4 text-left">账号</label>
												<input type="text"  placeholder="账号" name="account" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
											<div class="form-group row">
												<label class="col-md-4 col-xs-12 col-lg-4 text-left">手机号码</label>
												<input type="text" placeholder="手机号码" name="mobile" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
											<div class="form-group row">
												<label class="col-md-4 col-xs-12 col-lg-4 text-left">邮箱</label>
												<input type="text" placeholder="邮箱" name="email" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
											<div class="form-group row">
												<label class="col-md-4 col-xs-12 col-lg-4 text-left">真实姓名</label>
												<input type="text" placeholder="realName" class="form-control col-md-8 col-xs-12 col-lg-8"></div>

											<div class="form-group row">
												<label class="col-md-4 col-xs-12 col-lg-4 text-left">用户角色</label>
												<select name="userType" id="userType" class="form-control col-md-8 col-xs-12 col-lg-8">
													<option value="0">普通会员</option>
													<option value="1">管理员</option>
												</select>
											</div>
										</form>
										<div class="btn-toolbar list-toolbar">
											<a href="#myModal" data-toggle="modal" class="btn btn-primary">保存</a>
											<a href="#myModal" data-toggle="modal" class="btn btn-danger">删除</a>
										</div>
									</div>

									<div class="tab-pane" id="profile">
										<form id="tab2">
											<div class="form-group">
												<label class="col-md-12 col-xs-12 col-lg-12 text-left">设置新密码</label>
												<input type="password" class="form-control col-md-12 col-xs-12 col-lg-12" placeholder="设置新密码"></div>
											<div class="btn-toolbar list-toolbar">
												<a href="#myModal" data-toggle="modal" class="btn btn-primary">更新</a>
											</div>
										</form>
									</div>
									<div class="tab-pane user-detail" id="loginLog">
										<div id="tab3">
											<table class="table">
												<thead>
													<tr>
														<th>ip</th>
														<th>登录时间</th>
														<th>退出时间</th>
														<th style="width: 3.5em;">操作</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10.28.5.197</td>
														<td>Tompson</td>
														<td>the_mark7</td>
														<td>
															<a href="#myModal" role="button" data-toggle="modal">
																<i class="fa fa-trash-o"></i>
															</a>
														</td>
													</tr>
													<tr>
														<td>10.28.5.197</td>
														<td>Jacobs</td>
														<td>ash11927</td>
														<td>
															<a href="#myModal" role="button" data-toggle="modal">
																<i class="fa fa-trash-o"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
											<ul class="pagination pagination-sm text-center margin-top-10">
											  <li><a href="#">«</a></li>
											  <li><a href="#">1</a></li>
											  <li><a href="#">2</a></li>
											  <li><a href="#">3</a></li>
											  <li><a href="#">4</a></li>
											  <li><a href="#">5</a></li>
											  <li><a href="#">»</a></li>
											</ul>
										</div>
									</div>
									<div class="tab-pane user-detail" id="others">
										<div id="tab4">
											<form id="tab">
												<div class="form-group row">
													<label class="col-md-4 col-xs-12 col-lg-4 text-left">注册时间</label>
													<input type="text"  placeholder="尚未有值" value="321654231" disabled name="createTime" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
												<div class="form-group row">
													<label class="col-md-4 col-xs-12 col-lg-4 text-left">最后登录时间</label>
													<input type="text" placeholder="尚未有值" value="321654231"  disabled name="lastLoginTime" class="form-control col-md-8 col-xs-12 col-lg-8"></div>
												<div class="form-group row">
													<label class="col-md-4 col-xs-12 col-lg-4 text-left">性别</label>
													<select name="userType" id="userType" class="form-control col-md-8 col-xs-12 col-lg-8">
														<option value="0">普通会员</option>
														<option value="1">管理员</option>
													</select>
													<div class="btn-toolbar list-toolbar">
														<a href="#myModal" data-toggle="modal" class="btn btn-primary">更新</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">确认删除？</h3>
									</div>
									<div class="modal-body">

										<p class="error-text">
											<i class="fa fa-warning modal-icon"></i>
											此乃危险操作，请确认！
										</p>
									</div>
									<div class="modal-footer">
										<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
										<button class="btn btn-danger" data-dismiss="modal">Delete</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{include '../../inc/footer'}}