{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-8 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>会员列表</h2>
					</div>
					<div class="admin-list col-md-12">
						<div class="btn-toolbar list-toolbar margin-bottom-10">
						    <a href="/admin/addUser" class="btn btn-primary"><i class="fa fa-plus margin-right-10"></i>新会员</a>
						    <!-- <button class="btn btn-default">导入</button>
						    <button class="btn btn-default">到出</button> -->
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>账号</th>
									<th>注册日期</th>
									<th>最后登录日期</th>
									<th style="width: 3.5em;">操作</th>
								</tr>
							</thead>
							<tbody id="member-list-vm">

							</tbody>
							<script type="text/html" id="member-list-tpl">
								<% if memberList.length > 0 %>
							   	<% each memberList as $value $index %>
								<tr>
									<td><% $value.account %></td>
									<td><% $value.createLog.createTime | dateFormat :'yyyy.MM.dd hh:mm:ss' %></td>
									<td><% $value.lastLoginTime | dateFormat :'yyyy.MM.dd hh:mm:ss' %></td>
									<td>
										<a href="/admin/memberList/memberDetail/<% $value._id %>">
											<i class="fa fa-pencil"></i>
										</a>
										<a href="javascript:;" class="delete-btn" data-id="<% $value._id %>">
											<i class="fa fa-trash-o"></i>
										</a>
									</td>
								</tr>
								<% /each %>
								<% /if %>
							</script>
						</table>
					</div>
					<div class="mt-pagination" id="mt-pagination">
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>

{{include '../../inc/footer'}}
