{{include '../../inc/header'}}
<div id="fh5co-contact-section">
	<div class="container">
		<div class="row">
			{{include './sidebar'}}
			<div class="col-md-8 col-xs-12 text-center">
				<div class="row">
					<div class="col-md-12 text-left fh5co-heading">
						<h2>敏感词汇</h2>
					</div>
					<div class="btn-toolbar list-toolbar margin-bottom-10">
						    <a href="/admin/addSensitive" class="btn btn-primary"><i class="fa fa-plus margin-right-10"></i>添加</a>
						</div>
					<div class="admin col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>关键词</th>
									<th>设置人</th>
									<th>时间</th>
									<th style="width: 3.5em;">操作</th>
								</tr>
							</thead>
							<tbody id="sensitive-list-vm">
							</tbody>
							<script type="text/html" id="sensitive-list-tpl">
								<% if sensitiveList.length > 0 %>
								<% each sensitiveList as $value $index %>
								<tr style="<% ($index % 2 != 0) ? 'background:#f7f7f7' : '' %>">
									<td><% $value.keywords %></td>
									<td><% $value.admin.account %></td>
									<td><% $value.setTime | dateFormat :'yyyy.MM.dd' %></td>
									<td>
										<a href="/admin/sensitive/sensitiveDetail/<% $value._id %>">
											<i class="fa fa fa-pencil"></i>
										</a>
										<a href="javascript:;" data-senid="<% $value._id %>" class="delete-sensitive-btn" >
											<i class="fa fa-trash-o"></i>
										</a>
									</td>
								</tr>
								<% /each %>
								<% else %>
								<p style="width:100%;text-align:center;line-height: 40px;">暂无数据</p>
								<% /if %>
							</script>
						</table>
						<div class="mt-pagination" id="sensitive-list-pagination">
    					</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

{{include '../../inc/footer'}}