{{include '../../inc/header'}}
<div class="container article">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h3 style="color:#333;">{{ article.title }}</h3>
			<p class="article-others">来源：<a href="{{ article.comeFrom.link }}">{{ article.comeFrom.name }}</a>
			<span>时间：{{ article.deliverTime | dateFormat:'yyyy年MM月dd日' }}</span><span>阅读数：{{ article.visitTimes }}</span>
			</p>
			<p style="font-size:14px;text-align: justify;text-indent: 2em"><i class="leadding">导读</i>{{ article.leadText }}</p>
		</div>
	</div>
	<div class="list row">
		<div class="col-md-6 col-md-offset-3">
			{{ article.content | html }}
		</div>
		<div class="col-md-6 col-md-offset-3">
			<a href="/article" class="btn btn-primary">返回上一级</a>
		</div>
	</div>
</div>
{{include '../../inc/footer'}}