{{include '../../inc/header'}}
<div class="container article">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h2>文章列表</h2>
			<p>Article List</p>
		</div>
	</div>
	<div class="list">
		<ul>
			<li class="col-md-12 news clearfix">
				<div class="row news-box">
					<div class="col-md-3 news-img-wrap">
						<a class="linkimgtxt" href="http://www.bashan.com/paihang/101606.html?hys" target="_blank" title="猥琐保安深夜猥亵女子 两女子勇敢反抗 .">
							<img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/fetch_news/0d3105e8fb7ea3d5bb87592495a28bf2" class="linkimgtxt-img"></a>
					</div>
					<div class="col-md-9 news-cont">
						<div class="news-title-wrap">
							<h3 class="news-title">
								<a href="http://www.bashan.com/paihang/101606.html?hys" target="_blank" title="猥琐保安深夜猥亵女子 两女子勇敢反抗 .">猥琐保安深夜猥亵女子 两女子勇敢反抗 .</a>
							</h3>
						</div>
						<div class="news-summary-wrap">
							<p class="news-summary">
								<a href="http://www.bashan.com/paihang/101606.html?hys" target="_blank">
									从监控画面上可以看到，小孙和室友两个女子，将保安按倒在地是一顿猛锤，室友小朱大冷的天只穿了条短裤，两个女子顾不上体面，在一楼大厅里追着保安打，保安狼狈的逃到室外...
								</a>
								<a href="http://www.bashan.com/paihang/101606.html?hys" target="_blank">[详情]</a>
							</p>
						</div>
						<div class="news-extra">
							<span class="news-source">
								来源：
								<a href="http://www.bashan.com/" target="_blank">巴山财经</a>
							</span>
							<span class="news-time">3分钟前更新</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
{{include '../../inc/footer'}}